.DS_Store
.ipynb_checkpoints/
clean_dataset/
working_dataset/
Gomez and Moens (2014) - A Survey of Automated Hierarchical Classification of Patents.pdf
faulty_files.txt
general.txt
paper.txt
clean_text/
1_clean_dataset/
2_clean_text/
3_clean_feature/
